@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap");
/* --ming: #16697aff;
--pacific-blue: #489fb5ff;
--middle-blue: #82c0ccff;
--isabelline: #ede7e3ff;
--orange-peel: #ffa62bff; */
h1{
  font-size: 4em;
}
.navh1{
  font-family: 'Zen Loop', cursive;
  font-size: 4em;
  color:#FFA62B;
  font-weight:500;
}
#basic-nav-dropdown{
  color:#16697A;
}
* {
  text-align: center;
}
.mainh2{
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bolder;
  color:#16697A;
}

img {
  width: 300px;
  margin: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.338);
    transition: 0.2s;
    
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.447);
}


.cardTitle{
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bold;
  color:#16697A;
}


footer{
  margin-top: 5vh;
  padding: 3vh;
  background-color: #16697A;
  height: 10vh;
}
